body {
	font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
	font-size: 12px;
}

a {
	text-decoration: none;
	color: #2B587A;
}

.stats{
	color: #aaa;
	height: 20px;
	padding: 5px;
	cursor: default;
}

/*.content:after{*/
	/*clear: both;*/
	/*display: block;*/
	/*content: '';*/
/*}*/

#game15{
	float: left;
}
.holder {
	width: 184px;
	padding: 6px;
	border-radius: 2px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.holder:after {
	clear: both;
	display: block;
	content: '';
}
#game15 .button {
	width: 30px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	cursor: pointer;
}
.tile {
	width: 40px;
	height: 40px;
	margin: 3px;

	border-radius: 1px;
	background-color: inherit;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);;
	float: left;

	text-align: center;
	line-height: 40px;
	cursor: pointer;

	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;

	-moz-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.fake {
	visibility: hidden;

	-moz-transition: all 0s ease-out;
	-webkit-transition: all 0s ease-out;
	transition: all 0s ease-out;
}

.tour-table{
 	float: left;
	margin: 0 20px;

}

.table-content td {
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.table-content tr td:nth-child(2){
	width: 38px;
	text-align: center;
}

.table-content tr td:nth-child(1){
	width: 138px;
}

.table-content .avatar{
	width: 34px;
	height: 34px;
	float: left;
	margin: 2px;
}

.avatar img{
	width: 100%;
	height: 100%;
	border-radius: 2px;
}

.table-content .name {
	vertical-align: middle;
	line-height: 34px;
	margin: 0 4px 0 4px;
}

.table-content .points{
	margin: 3px;
	font-weight: bold;
	color: #2B587A;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.show {
  opacity: 1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}